#searchContent {
  width: 100%; }
  #searchContent .searchContent {
    width: 1200px;
    margin: 0 auto;
    line-height: 40px;
    font-size: 10px; }
    #searchContent .searchContent .searchTittle i {
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(../img/shouye.png) 0 3px no-repeat; }
    #searchContent .searchContent .searchTittle a {
      margin-left: 5px;
      color: #777; }
    #searchContent .searchContent .searchTittle a:hover {
      color: deepskyblue;
      text-decoration: underline; }
    #searchContent .searchContent .searchTittle span {
      margin-left: 5px;
      color: #ccc; }
    #searchContent .searchContent .searchGoods .commendGoods {
      margin-bottom: 10px;
      height: 143px;
      border: 1px solid #ccc;
      border-top: solid 2px #2f97f0; }
      #searchContent .searchContent .searchGoods .commendGoods h3 {
        font: normal 14px/20px "microsoft yahei";
        color: #333;
        height: 36px;
        padding: 8px 10px;
        background-color: #f5f4f4; }
      #searchContent .searchContent .searchGoods .commendGoods ul li {
        padding: 7px;
        width: 244px;
        height: 104px;
        float: left; }
        #searchContent .searchContent .searchGoods .commendGoods ul li .commendimg {
          width: 90px;
          height: 90px;
          float: left; }
          #searchContent .searchContent .searchGoods .commendGoods ul li .commendimg img {
            width: 90px;
            height: 90px; }
        #searchContent .searchContent .searchGoods .commendGoods ul li .commendinfo {
          position: relative;
          margin-left: 10px;
          float: left;
          width: 130px;
          height: 90px; }
          #searchContent .searchContent .searchGoods .commendGoods ul li .commendinfo dt {
            margin: 0;
            width: 130px;
            height: 32px;
            display: inline-block;
            overflow: hidden; }
            #searchContent .searchContent .searchGoods .commendGoods ul li .commendinfo dt a {
              display: block;
              width: 125px;
              height: 32px;
              color: #777;
              line-height: 16px;
              margin: 0 auto; }
            #searchContent .searchContent .searchGoods .commendGoods ul li .commendinfo dt a:hover {
              text-decoration: underline; }
          #searchContent .searchContent .searchGoods .commendGoods ul li .commendinfo dd {
            position: absolute;
            top: 32px;
            left: 0px;
            margin: 5px auto;
            width: 130px;
            height: 20px;
            display: inline-block;
            line-height: 20px;
            white-space: nowrap; }
            #searchContent .searchContent .searchGoods .commendGoods ul li .commendinfo dd a {
              color: #555; }
            #searchContent .searchContent .searchGoods .commendGoods ul li .commendinfo dd span {
              font-size: 14px;
              font-weight: bold;
              color: #ff3c00; }
          #searchContent .searchContent .searchGoods .commendGoods ul li .commendinfo .qianggou {
            display: inline-block;
            width: 65px;
            height: 26px;
            background: red;
            text-align: center;
            line-height: 26px;
            color: white;
            border-radius: 3px;
            margin: 0 15px;
            position: absolute;
            bottom: 0; }
          #searchContent .searchContent .searchGoods .commendGoods ul li .commendinfo .qianggou:hover {
            background: #2f97f0; }
    #searchContent .searchContent .searchGoods .contentGoods {
      height: 820px; }
      #searchContent .searchContent .searchGoods .contentGoods nav {
        background: #F7F7F7;
        display: block;
        height: 36px;
        border: solid 1px #D7D7D7;
        margin-bottom: 10px; }
        #searchContent .searchContent .searchGoods .contentGoods nav .paixu {
          padding: 0 0 0 10px;
          vertical-align: top;
          height: 36px;
          width: 500px;
          line-height: 36px;
          margin: 0;
          float: left; }
          #searchContent .searchContent .searchGoods .contentGoods nav .paixu p {
            float: left; }
          #searchContent .searchContent .searchGoods .contentGoods nav .paixu ul {
            display: inline-block; }
            #searchContent .searchContent .searchGoods .contentGoods nav .paixu ul li {
              float: left;
              line-height: 20px;
              color: #555;
              height: 35px;
              padding: 8px 13px 8px 12px;
              border-left: 1px solid #ccc; }
              #searchContent .searchContent .searchGoods .contentGoods nav .paixu ul li i {
                background: url(../img/2014shop_background_img.png) no-repeat 0 -11px;
                display: inline-block;
                width: 7px;
                height: 8px;
                margin-left: 4px; }
              #searchContent .searchContent .searchGoods .contentGoods nav .paixu ul li input {
                width: 42px;
                height: 24px;
                border: 1px solid #ccc;
                margin-right: 7px; }
            #searchContent .searchContent .searchGoods .contentGoods nav .paixu ul li:hover {
              color: lightblue;
              background: white; }
            #searchContent .searchContent .searchGoods .contentGoods nav .paixu ul .paixuactive {
              color: lightblue;
              background: white; }
        #searchContent .searchContent .searchGoods .contentGoods nav .goodstoggle {
          float: right;
          width: 108px;
          height: 35px; }
          #searchContent .searchContent .searchGoods .contentGoods nav .goodstoggle span {
            border: 1px solid #ccc;
            padding: 2px 6px;
            color: #005AA0; }
          #searchContent .searchContent .searchGoods .contentGoods nav .goodstoggle span:hover {
            background-color: #005AA0;
            color: white; }
          #searchContent .searchContent .searchGoods .contentGoods nav .goodstoggle .goodstop {
            color: #AAA; }
        #searchContent .searchContent .searchGoods .contentGoods nav .goodscheckbox {
          height: 35px;
          float: left; }
          #searchContent .searchContent .searchGoods .contentGoods nav .goodscheckbox input {
            margin-left: 10px; }
        #searchContent .searchContent .searchGoods .contentGoods nav .goodsaddressbox {
          height: 35px;
          float: left;
          margin-left: 100px; }
          #searchContent .searchContent .searchGoods .contentGoods nav .goodsaddressbox .goodsaddress {
            height: 35px; }
            #searchContent .searchContent .searchGoods .contentGoods nav .goodsaddressbox .goodsaddress .alladdress {
              float: right;
              height: 35px;
              width: 100px; }
              #searchContent .searchContent .searchGoods .contentGoods nav .goodsaddressbox .goodsaddress .alladdress span {
                background: white;
                padding: 2px 5px 2px 4px;
                border: 1px solid #ccc; }
                #searchContent .searchContent .searchGoods .contentGoods nav .goodsaddressbox .goodsaddress .alladdress span i {
                  display: inline-block;
                  width: 8px;
                  height: 8px;
                  margin-left: 3px;
                  border: 4px solid;
                  border-color: #666 #F7F7F7 #F7F7F7 #F7F7F7;
                  transition: .2s ease-in; }
              #searchContent .searchContent .searchGoods .contentGoods nav .goodsaddressbox .goodsaddress .alladdress span:hover i {
                transform: rotateZ(180deg);
                border-color: #666 #fff #fff #fff; }
      #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul {
        position: relative;
        width: 1200px;
        overflow: hidden; }
        #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul li {
          box-sizing: content-box;
          display: inline-block;
          font-size: 12px;
          vertical-align: top;
          letter-spacing: normal;
          word-spacing: normal;
          display: inline-block;
          line-height: 18px;
          background-color: #FFF;
          width: 294px;
          height: 370px;
          border: solid 1px #F0F0F0;
          border-radius: 2px;
          box-shadow: 0 0 3px rgba(153, 153, 153, 0.1);
          transition: all 0.3s ease-in-out 0s;
          overflow: hidden;
          padding: 2px; }
          #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul li .goodscontentimg {
            width: 300px;
            height: 225px;
            padding: 5px 40px; }
            #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul li .goodscontentimg img {
              width: 220px;
              height: 220px; }
          #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul li .goodscontenttext {
            width: 300px;
            height: 265px;
            padding: 0px 2px 0 0;
            top: 230px;
            transition: transform .5s linear; }
            #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul li .goodscontenttext img {
              width: 28px;
              height: 28px; }
            #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul li .goodscontenttext .p1 {
              background: white; }
            #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul li .goodscontenttext .p2 {
              margin-top: 10px; }
              #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul li .goodscontenttext .p2 a:hover {
                color: #00BFFF;
                text-decoration: underline; }
            #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul li .goodscontenttext .p3 {
              height: 30px;
              line-height: 30px;
              margin-top: 5px; }
              #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul li .goodscontenttext .p3 .em1 {
                font-size: 16px;
                font-weight: 600;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 70px;
                float: left;
                overflow: hidden;
                color: #C00; }
              #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul li .goodscontenttext .p3 .em2 {
                font-size: 14px;
                text-decoration: line-through;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 70px;
                float: left;
                overflow: hidden;
                color: #999;
                margin-left: 10px; }
            #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul li .goodscontenttext .p4 {
              text-align: right;
              height: 35px;
              line-height: 35px;
              margin-bottom: 5px; }
              #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul li .goodscontenttext .p4 span {
                border: 1px solid #ccc;
                padding: 3px 5px; }
            #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul li .goodscontenttext .p5 {
              width: 203px;
              height: 46px;
              margin: 2px 50px;
              border-top: 1px solid #ccc; }
              #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul li .goodscontenttext .p5 span {
                display: inline-block;
                width: 65px;
                border-right: 1px solid #ccc;
                text-align: center;
                color: #777; }
                #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul li .goodscontenttext .p5 span i {
                  display: block;
                  margin: 3px 0;
                  color: lightblue; }
            #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul li .goodscontenttext .p6 {
              background: #EAEAEA;
              height: 40px;
              line-height: 40px;
              text-align: center; }
            #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul li .goodscontenttext #addshopcar {
              width: 100%;
              height: 35px;
              background: #2f97f0; }
        #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul .litranslatey {
          transform: translateY(-100px); }
        #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul li:hover .goodscontenttext {
          transform: translateY(-20px); }
        #searchContent .searchContent .searchGoods .contentGoods .goodscontent ul li:hover {
          height: 478px;
          z-index: 2019;
          padding: 0px;
          border: 2px solid cornflowerblue; }
    #searchContent .searchContent .searchGoods .goodpage {
      text-align: center;
      display: block;
      margin: 0 auto;
      padding: 15px 0;
      vertical-align: top;
      text-align: center !important; }
      #searchContent .searchContent .searchGoods .goodpage #goodspageul {
        text-align: center !important;
        height: 38px;
        margin: 0 auto; }
        #searchContent .searchContent .searchGoods .goodpage #goodspageul li {
          display: inline-block;
          height: 38px;
          vertical-align: top;
          letter-spacing: normal;
          word-spacing: normal; }
          #searchContent .searchContent .searchGoods .goodpage #goodspageul li span {
            font: 600 12px/20px Verdana, Tahoma, Arial;
            color: #AAA;
            background-color: #FFF;
            text-align: center;
            display: block;
            min-width: 20px;
            padding: 8px;
            border: 1px solid #E6E6E6; }
          #searchContent .searchContent .searchGoods .goodpage #goodspageul li .clickable {
            color: #555; }
        #searchContent .searchContent .searchGoods .goodpage #goodspageul .pagefirstli {
          margin-right: 10px; }
        #searchContent .searchContent .searchGoods .goodpage #goodspageul .pagelastli {
          margin-left: 10px; }
        #searchContent .searchContent .searchGoods .goodpage #goodspageul .pagesli {
          width: 38px;
          height: 38px; }

/*# sourceMappingURL=search.css.map */
