#logo {
    .buystep {
        float: right;
        li {
            float: left;
            width: 160px;
            height: 70px;
            position: relative;
            background: #fff;
            .buystep1 {
                background: url(../img/tollsbor_new.png) no-repeat;
                background-position: -3px -75px;
                width: 30px;
                height: 30px;
                border-radius: 3px;
                position: absolute;
                left: 65px;
                margin: 0;
                background-color: #efefef;
            }
            p {
                font-size: 12px;
                color: #CCC;
                text-align: center;
                width: 100%;
                height: 24px;
                line-height: 24px;
                position: absolute;
                z-index: 2;
                left: 0;
                bottom: 0;
                overflow: hidden;
            }
            .stepborder {
                width: 100%;
                height: 1px;
                border-top: 1px solid #ddd;
                position: absolute;
                z-index: 1;
                top: 40px;
                left: 0;
                text-align: center;
                line-height: 0px;
                margin: 0;
                span {
                    display: inline-block;
                    width: 7px;
                    height: 7px;
                    position: relative;
                    top: -4px;
                    background-color: #FFF;
                    margin-left: -3px;
                    border: solid 1px #CCC;
                    border-radius: 4px;
                    z-index: 2;
                }
                .stepspanactive {
                    background-color: #27A9E3;
                    border-color: #27A9E3;
                    box-shadow: 0 0 0 2px rgba(0, 153, 204, 0.15);
                }
            }
            .stepactive {
                color: #27A9E3;
                border-color: #27A9E3;
            }
        }
    }
}

//myshopcar
#myshopcar {
    width: 100%;
    .myshopcar {
        width: 1200px;
        margin: 0 auto;
        .shopcartitle {
            height: 80px;
            padding: 15px 0;
            border-top: 1px solid #F7F7F7;
            h3 {
                font: lighter 24px/30px arial, "microsoft yahei";
                color: #555;
            }
            h5 {
                font: 12px/20px arial, "microsoft yahei";
                color: #AAA;
            }
        }
        table {
            border-collapse: collapse;
            border-style: solid;
            border-width: 2px 1px;
            border-color: #AAA #DDD;
            margin-bottom: 20px;
            input,
            th,
            a,
            td {
                font: 12px/20px Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
                border: none;
            }
            thead {
                tr {
                    th {
                        line-height: 20px;
                        color: #666;
                        background-color: #F9F9F9;
                        text-align: center;
                        height: 20px;
                        width: 120px;
                        padding: 8px 0;
                        border-bottom: solid 1px #DDD;
                    }
                    .w50 {
                        width: 50px !important;
                    }
                    .w60 {
                        width: 60px !important;
                    }
                    .w80 {
                        width: 79px !important;
                        border-right: solid 1px #DDD;
                    }
                    .w650 {
                        width: 650px !important;
                    }
                }
            }
            tbody {
                tr {
                    th {
                        font-size: 12px;
                        line-height: 20px;
                        color: #333;
                        height: 20px;
                        background-color: #DAF0FE;
                        padding: 8px;
                        border-bottom: solid 1px #DDD;
                        a {
                            font-weight: 600;
                        }
                    }
                    td {
                        background-color: #FFF;
                        padding: 8px 0;
                        text-align: center;
                        border: none;
                        border-bottom: solid 1px #DDD;
                        img {
                            width: 40px;
                            height: 40px;
                        }
                        a {
                            display: block;
                            color: #333;
                        }
                        .updatenum {
                            font: 12px/20px Tahoma;
                            color: #777;
                            background-color: #FFF;
                            vertical-align: middle;
                            display: inline-block;
                            width: 30px;
                            padding: 2px 4px;
                            border: solid 1px #CCC;
                            outline: 0 none;
                        }
                        i {
                            color: #777;
                            text-decoration: none;
                            background-color: #F5F5F5;
                            letter-spacing: normal;
                            word-spacing: normal;
                            text-align: center;
                            vertical-align: middle;
                            display: inline-block;
                            width: 14px;
                            height: 14px;
                            line-height: 10px;
                            margin: 0 4px;
                            border: solid 1px;
                            border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC;
                            cursor: pointer;
                        }
                        i:hover {
                            background: #49AFCD;
                            color: white;
                            border-color: #49AFCD;
                        }
                        a:hover {
                            text-decoration: underline;
                            color: brown;
                        }
                    }
                    .borderright {
                        border-right: solid 1px #DDD;
                    }
                    .tdtextleft {
                        text-align: left;
                    }
                }
                .tbodyfoot {
                    height: 90px;
                    th {
                        background: white;
                    }
                }
            }
            tfoot {
                td {
                    background: #F9F9F9;
                    text-align: right;
                    height: 50px;
                    padding: 10px 0;
                    .all_account {
                        margin-right: 20px;
                        font: normal 16px/32px "microsoft yahei", Arial;
                        color: #666;
                        em {
                            font-size: 22px;
                            color: #2f97f0;
                            margin: 0 5px;
                        }
                    }
                }
            }
        }
        .nextstep {
            text-align: right;
            margin-bottom: 20px;
            input{
                background-color: #2F96B4;
                border-color: #2A87A2;
                width: 218px;
                height: 38px;
                color: white;
            }
            
        }
    }
}